{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan barcode login
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    h3#please {
        font-size: 1.5em;
        color: maroon;
        margin-top: 6em; }
    hr {
        margin-top: 2em; }
    form {
        margin-top: 2em; }
    div#requested_item {
        margin-top: 4em;
        color: gray; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb;
       font-size: 125%; }
    dd {
       float:left;
       margin-left:2em;
       color:#999;
       font-size: 125%; }
    input#login_button {
        margin-left:10em; }
    input[type=text] {
        margin-top:.25em; }
    p {
        font-size: 125%; }
    p#barcode_help {
        color: gray;
        margin-top:.25em; }
    p#login_error {
        color: red;
        margin-bottom: 1em; }
</style>

 <h1>easyScan request</h1>

<div id="requested_item">

    <p>You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>additional info:</dt>
        <dd>{{ callnumber }}</dd>
    </dl>

</div>

<h3 id="please">Please login...</h3>

<div id="form">

    <!-- action="/easyscan/barcode_login/" -->
    <form id="barcode_login" action="{% url 'barcode_login_url' %}" method="POST">{% csrf_token %}
        {% if login_error %}<p id="login_error">Error: {{ login_error }}</p>{% endif %}
        <p>First or Last Name:</p>
        <input type="text" name="name" value="{{ login_name }}">
        <br/>
        <br/>
        <p>Barcode:</p>
        <p id="barcode_help">( 14-digit barcode, beginning with 21236... )</p>
        <input type="text" name="patron_barcode">
        <input type="submit" value="Login" id="login_button">
    </form>

</div>

<hr/>

{% endblock content %}
