{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan request
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    h3#please {
        font-size: 1.5em;
        color: maroon;
        margin-top: 2em; }
    hr {
        margin-top: 2em; }
    form {
        margin-top: 2em; }
    div#requested_item {
        margin-top: 4em;
        color: gray; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb; }
    dd {
       float:left;
       margin-left:2em;
       color:#999; }
    input#login_button {
        margin-left:10em;
        }
    input[type=text] {
        margin-top:.25em;
        }
</style>

 <h1>easyScan request</h1>

<h3 id="please">Please login...</h3>

<div id="form">

    <form id="barcode_login" action="/easyscan/barcode_login/" method="POST">{% csrf_token %}
        First or Last Name:<br>
        <input type="text" name="name">
        <br/>
        <br/>
        Barcode:<br/>
        ( 14-digit barcode, beginning with 21236... )<br/>
        <input type="text" name="lastname">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="callnumber" value="{{ callnumber }}">
        <input type="hidden" name="barcode" value="{{ barcode }}">
        <input type="submit" value="Login" id="login_button">
    </form>

</div>

<hr/>

<div id="requested_item">

    <p>You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>call-number, etc info:</dt>
        <dd>{{ callnumber }}</dd>

        <dt>barcode:</dt>
        <dd>{{ barcode }}</dd>
    </dl>

</div>

{% endblock content %}
