{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan confirmation
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    h3#main_title {
        font-size: 1.5em;
        color: maroon;
        margin-top: 2em; }
    hr {
        margin-top: 2em; }
    form {
        margin-top: 2em; }
    div#requested_item {
        margin-top: 4em;
        color: gray; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb; }
    dd {
       float:left;
       margin-left:2em;
       color:#999; }
    div#info {
       margin-top: 2em; }
</style>

 <h1>easyScan confirmation</h1>

<h3 id="main_title">All set!</h3>

<div id="info">
<p>Your scan-request has been submitted and should be processed within one business day.</p>
<p>It will be emailed to &lt;{{ email }}&gt;.</p>
</div>

<hr/>

<div id="requested_item">

    <p>You requested a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>call-number, etc info:</dt>
        <dd>{{ callnumber }}</dd>

        <dt>barcode:</dt>
        <dd>{{ barcode }}</dd>
    </dl>

</div>

{% endblock content %}
