{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan request
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    h3#please {
        font-size: 1.5em;
        color: maroon;
        margin-top: 3.5em; }
    hr {
        margin-top: 2em; }
    form {
        margin-top: 1.5em; }
    div#requested_item {
        margin-top: 4em;
        color: gray; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb;
       font-size: 125%; }
    dd {
       float:left;
       margin-left:2em;
       color:#999;
       font-size: 125%; }
    div#info {
       margin-top: 2em; }
    div#info p {
       margin-bottom: 1em; }
    div#input {
        margin-top: 1.5em; }
    p {
        font-size: 125%; }
    p#additional {
         margin-top: 1.5em; }
    ul {
        list-style-type: square;
        margin-left: 2em;
        font-size: 125%; }
    li {
        margin-top: .5em; }
</style>

 <h1>easyScan request</h1>

<div id="requested_item">

    <p>{% if patron_name %}Welcome {{ patron_name }}. {% endif %}You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>
    </dl>

</div>

<h3 id="please">Please edit/add additional information...</h3>

<div id="info">
    <p>The title "{{ title }}" will be sent. Additional information should include...</p>
    <ul>
        <li>Chapter title if applicable.</li>
        <li>Volume number if applicable.</li>
        <li>Year of publication if applicable.</li>
        <li>The page-range you would like scanned.</li>
    </ul>
    <p id="additional">Some additional info has been started; please edit it.</p>
</div>

<div id="form">

    <form id="citation_form" action="/easyscan/request/" method="POST">{% csrf_token %}
        <textarea name="custom_info" rows="4" cols="50">{{ callnumber }}</textarea>
        <div id="input">
            <input type="submit" value="Submit Scan Request">
        </div>
    </form>

</div>

<hr/>


{% endblock content %}
