{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan login
{% endblock page_title %}


{% block content %}

<style>
    h1 {
      font-size: 2.5em;
      margin-top: 2em;
      text-transform: none }
    hr {
      margin-top: 2em; }
    form {
      margin-top: 2em; }
    div#requested_item {
      margin-top: 4em;
      /*color: gray;*/ }
    dt, dd {
      font-family:sans-serif;
      margin-top: .5em; }
    dt {
      float:left;
      clear:left;
      text-align:right;
      width:15%;
      /*color:#bbb;*/
      font-size: 125%; }
    dd {
      float:left;
      margin-left:2em;
      /*color:#999;*/
      font-size: 125%; }
    div#rules {
      float:left;
      clear:left;
      margin-top: 3em; }
    p {
      margin-bottom: 1em;
      font-size: 125%; }
    p.login_error {
      color: red;
      margin-bottom: .25em; }
    h3#please {
      float:left;
      clear:left;
      font-size: 1.5em;
      color: maroon;
      margin-top: 1.5em; }
    input#submit_button {
      float:left;
      clear:left;
      margin-top: 1.5em; }
    hr {
      float:left;
      clear:left;
      margin-top: 2em;
      width:100%; }
</style>

 <h1>easyScan request</h1>

 <div id="requested_item">

    <p>You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>volume &amp; year:</dt>
        <dd>{{ volume_year }}</dd>

        <dt>call number:</dt>
        <dd>{{ callnumber }}</dd>
    </dl>

</div>

<div id="rules">
  <p>This service permits scans of up to 50 pages, or one chapter, from non-special-collections materials located at the Annex (Brown's offsite Library storage facility).</p>
  <p>In most cases material is scanned within 2 business days. Notification will be sent to your brown email address.</p>
</div>

<div>
    <h3 id="please">Please log in...</h3>
</div>

<div id="forms">

    <form id="shib_login" action="/easyscan/shib_login/" method="POST">{% csrf_token %}
        {% if login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to request scans from the Annex.</p>
        <p class="login_error">If you believe you should be able to request scans, please contact Library staff for assistance, either at 401/LIB-HELP, or at {{ "bart_hollingsworth@brown.edu"|urlize }}.</p>
        {% endif %}
        <input id="submit_button" type="submit" value="Log in">
    </form>

</div>

<hr/>

{% endblock content %}
