{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan login
{% endblock page_title %}


{% block content %}

<style>
    h1 {
      font-size: 2.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      text-transform: none }
    hr {
      margin-top: 2em; }
    form {
      margin-top: 2em; }
    div#requested_item {
      margin-top: 3em;
      /*color: gray;*/ }
    dt, dd {
      font-family:sans-serif;
      margin-top: .5em; }
    dt {
      float:left;
      clear:left;
      text-align:right;
      width:15%;
      /*color:#bbb;*/
      font-size: 125%; }
    dd {
      float:left;
      margin-left:2em;
      /*color:#999;*/
      font-size: 125%; }
    div#rules {
      float:left;
      clear:left;
      margin-top: 1em;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 1em;
      font-size: 125%; }
    p.login_error {
      color: red;
      margin-bottom: .25em; }
    p.print_note {
      font-size: 125%;
      margin-top:1.5em;
      font-style: italic;
      /*padding-left: 5%;*/
      /*padding-right: 5%;*/
      widows: 3;
    }
    h3#please {
      float:left;
      clear:left;
      font-size: 1.5em;
      color: maroon;
      margin-top: 1.5em; }
    input#submit_button {
      float:left;
      clear:left;
      margin-top: 1.5em; }
    hr {
      float:left;
      clear:left;
      margin-top: 2em;
      width:100%; }
    #requested_item dl dt, #requested_item dl dd {
      font-family : Arial ;
    }

    /***** alert *****/
    div#alert {
        background-color : #FFE6A0 ;
        /*font-family : CircularStd ;*/
        padding : 25px ;
        /*margin-top : 1.1em ;*/
        margin-top : 0 ;
        margin-bottom : 0 ;
    }
    h2.alert {
        /*color : #222 !important ;*/
        font-size: 2.25em;
        margin-bottom: .7em;
        font-weight: bolder;
        color:darkred;
        margin-top: 0;
        /*margin-bottom: 0;*/
    }
    p.alert {
        font-weight: bolder;
        font-size: 1.75em;
        /*margin-bottom: .7em;*/
        margin-top: 0;
        /*margin-bottom: 0;*/
    }
    p.alert_nonbold {
        font-size: 1.5em;
        /*line-height: 120%;*/
        line-height: 100%;
        margin-top: 1em;
        /*margin-bottom: 0;*/
    }
    p.description {
        text-decoration: line-through;
        margin-top: 0;
        /*margin-bottom: 0;*/
    }
    /*****************/
    hr#alert_hr {
        margin-top: .5em;
    }
    /*****************/

</style>

 <h1>easyScan request</h1>

  <div id="alert">
      <h2 class="alert"><strong>Important Notice</strong></h2>
      <p class="alert"><strong>We are increasing our scanning services.</strong></p>
      <!-- <p class="alert_nonbold">( Physical delivery of items from the Library Annex has been suspended until further notice. )</p> -->
      <p class="alert_nonbold">We will conduct scans and deliver them to your email address in the order in which they are received, in as timely a manner as possible.</p>
      <p class="alert_nonbold">We are assessing Library services on an ongoing basis. Check <a href="https://blogs.brown.edu/libnews/covid/">the Library's COVID-19 announcements page</a> frequently for updates on Library services.</p>
      <hr id="alert_hr"/>
  </div>

 <div id="requested_item">

    <p>You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>volume &amp; year:</dt>
        <dd>{{ volume_year }}</dd>

        <dt>call number:</dt>
        <dd>{{ callnumber }}</dd>
    </dl>

</div>

<div id="rules">
  <!-- <p>This service permits scans of up to 50 pages, or one chapter, from non-special-collections print materials located at the Annex (Brown's offsite Library storage facility).</p> -->

  <p class="print_note">(On occasion you may see a 'scan' link next to a non-print item. If you attempt to request such a scan, the Annex staff will email you and remind you that this scanning service is only for <strong>print</strong> materials.)</p>
  <p>In most cases material is scanned within 72 hours. Notification will be sent to your Brown email address.</p>
</div>

<div>
    <h3 id="please">Please log in...</h3>
</div>

<div id="forms">

    <!-- action="/easyscan/shib_login/" -->
    <form id="shib_login" action="{% url 'shib_login_url' %}" method="POST">{% csrf_token %}
        {% if login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to request scans from the Annex.</p>
        <p class="login_error">If you believe you should be able to request scans, please contact Library staff for assistance, either at 401/LIB-HELP, or at {{ "bart_hollingsworth@brown.edu"|urlize }}.</p>
        {% endif %}
        <input id="submit_button" type="submit" value="Log in">
    </form>

</div>

<hr/>

{% endblock content %}
