{% extends "easyscan_app_templates/base.html" %}

{% block page_title %}
easyScan request
{% endblock page_title %}


{% block content %}

<style>

    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }

    div#requested_item {
        margin-top: 4em;
        /*color: gray;*/ }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       /*color:#bbb;*/
       font-size: 125%; }
    dd {
       float:left;
       margin-left:2em;
       /*color:#999;*/
       font-size: 125%; }

    div#rules {
      float:left;
      clear:left;
      margin-top: 3em; }
    p.rules_lines {
      margin-bottom: 1em;
      font-size: 125%; }

    h3#please {
        font-size: 1.5em;
        color: maroon;
        margin-top: 10.5em; }

    form {
        margin-top: 1.5em; }
    textarea {
        margin-top: .5em; }
    /*div#info {
       margin-top: 2em; }*/
    /*div#info p {
       margin-bottom: 1em; }*/
    div#input {
        margin-top: 1.5em; }
    p {
        font-size: 125%; }
    p#page_range {
         margin-top: 1em; }
    p#other {
         margin-top: 1em; }
    ul {
        list-style-type: square;
        margin-left: 2em;
        font-size: 125%; }
    li {
        margin-top: .5em; }
    .errorlist {
        color: red; }

    hr {
        margin-top: 2em; }

</style>

 <h1>easyScan request</h1>

<div id="requested_item">

    <p>{% if patron_name %}Welcome {{ patron_name }}. {% endif %}You're requesting a scan for part of …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>volume &amp; year:</dt>
        <dd>{{ volume_year }}</dd>

        <dt>call number:</dt>
        <dd>{{ callnumber }}</dd>
    </dl>

</div> <!-- #requested_item -->

<div id="rules">
  <p class="rules_lines">This service permits scans of up to 50 pages, or one chapter, from non-special-collections materials located at the Annex (Brown's offsite Library storage facility).</p>
  <p class="rules_lines">In most cases material is scanned within 2 business days. Notification will be sent to your brown email address.</p>
</div>

<h3 id="please">Please add additional information...</h3>

<div id="form">

    <form id="citation_form" action="/easyscan/request/" method="POST">{% csrf_token %}

        <div class="fieldWrapper">
            <p id="article_chapter_title">{{ form.article_chapter_title.label }}</p>
            {{ form.article_chapter_title.errors }}
            {{ form.article_chapter_title }}
        </div>

        <div class="fieldWrapper">
            <p id="page_range">{{ form.page_range.label }}</p>
            {{ form.page_range.errors }}
            {{ form.page_range }}
        </div>

        <div class="fieldWrapper">
            <p id="other">{{ form.other.label }}</p>
            {{ form.other.errors }}
            {{ form.other }}
        </div>

        <div id="input">
            <input type="submit" value="Submit Scan Request">
        </div>

    </form>

</div> <!-- #form -->

<hr/>

{% endblock content %}
