{% extends "easyscan_app_templates/base.html" %}


{% block page_title %}
easyScan try-again confirmation
{% endblock page_title %}


{% block content %}

    <style type="text/css">
        h1 {
            font-size: 2.5em;
            margin-top: 2em;
            margin-bottom: 1em;
            text-transform: none }
        ul {
            list-style-type: square;
            margin-left: 2em; }
        hr {
            margin-bottom: 2em; }
    </style>

    <h1>Confirm Try-Again...</h1>

    <p>Are you sure you want to re-send the following scan-request to the Annex?</p>

    <p>blah...</p>

{% endblock content %}
