{% extends "easyscan_app_templates/base.html" %}


{% block page_title %}
easyScan try-again
{% endblock page_title %}


{% block content %}

    <style type="text/css">
        h1 {
            font-size: 2.5em;
            margin-top: 2em;
            text-transform: none }
        ul {
            list-style-type: square;
            margin-left: 2em; }
        hr {
            margin-bottom: 2em; }
    </style>

    <h1>Requests for last 30 days...</h1>

    {% for entry in entries %}
    <ul>
        <li>request-datetime, `{{ entry.fields.create_datetime }}`; id, `{{ entry.pk }}`</li>
        <li>item-title, `{{ entry.fields.item_title }}`; item-volume/year, `{{ entry.fields.item_volume_year }}`; item-barcode, `{{ entry.fields.item_barcode }}` </li>
        <li>patron-name, `{{ entry.fields.patron_name }}`; patron-email, `{{ entry.fields.patron_email }}`; patron-barcode, `{{ entry.fields.patron_barcode }}` </li>
        <li>additional info...</li>
        <ul>
            <li>article / chapter-title, `{{ entry.fields.item_chap_vol_title }}`</li>
            <li>page-range, `{{ entry.fields.item_page_range_other }}`</li>
            <li>other, `{{ entry.fields.item_other }}`</li>
        </ul>
        <li>status, `{{ entry.fields.status }}`</li>
        <li>options, <a href="http://google.com">Try Transfer Again</a>; <a href="http://google.com">View Admin Entry</a></li>
    </ul>
    <hr/>
    {% endfor %}

{% endblock content %}
